body{
    font-family: 'Roboto';
font-style: normal;}
p, ul, h1, h2, h3{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
    width: 1600px;
margin: 0 auto;
}

/* header */

.full-header{
    width: 1200px;
display: flex;
margin: 0 auto;
justify-content: space-between;
}

.header-left{
    display: flex;
    justify-content: left;
    width: 519px;
}

.logo-link{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
color:#000000;
padding: 24px 93px 25px 0;
}

.web{
    color:#2196F3;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    width: 281px;
    align-items: center;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}
.nav-list a{
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:#212121;
}
.nav-list a:hover, a:focus{color:#2196F3;}

.header-right{  
    display: flex;
    justify-content: right;
    width: 307px;
    align-items: center;
}

.contact-list-link{
    display: flex;
    justify-content: space-between;
    width: 307px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height:1.14;
letter-spacing: 0.02em;
color: #757575;
}
.contact-list-link:hover{color: #2196F3;}

/* main */
/* hero */

.hero{
    padding: 200px 0;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img.hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

.hero-title{
font-family: 'Roboto';
text-align: center;
text-transform: uppercase;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
color: #FFFFFF;
margin-bottom: 30px;
}

.hero-btn{
    display: block;
    margin: 0 auto;
width: 216px;
height: 50px;
background: #2196F3;
color: #FFFFFF;
}

/* features */

.features{
    width: 1200px;
    padding: 94px 0;
    margin: 0 auto;
}

.list{
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
}

.list-item{
    width: 270px;
}

.list-item::before{
    display: block;
    content: '';
    background-color: #F5F4FA;
    border-radius: 4px;
    height: 120px;
    width: 270px;
    margin-bottom: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70px 70px;
}

.list-item:nth-child(1)::before{
   background-image: url(../images/antenna.svg);
}

.list-item:nth-child(2)::before{
    background-image: url(../images/clock.svg);
}

.list-item:nth-child(3)::before{
    background-image: url(../images/diagram.svg);
 }
 
 .list-item:nth-child(4)::before{
    background-image: url(../images/astronaut.svg);
 }
 





.list-item-title{
    margin: 0;
    padding-right: 30px ;
    padding-bottom: 9.69px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
color: #212121;
}
.list-item-text{
    margin: 0;
    padding-right: 30px ;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: #757575;
}

/* work */

.work{
    padding-bottom: 94px;
}

.title{
    text-align: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
color: #212121;
}

.hero-list{
    display: flex;
    justify-content:space-between;
    margin: 50px auto 0;
    width: 1200px;
}

.list-item-img{
    width: 370px;
height: 294px;
}

/* team */

.team{
    background: #F5F4FA;
  
    padding: 94px 0;
}

.team-title{
    
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;

}
.team-list{
   display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
}

.card{
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
padding-bottom: 30px;
}

.team-list-img{
    width: 270px;
height: 260px;
margin-bottom: 30px;
}

.list-title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
color: #212121;
text-align: center;
letter-spacing: 0.03em;
    margin-bottom: 10px;
 }
 
 .list-text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height:1.18;
color: #757575;
text-align: center;
letter-spacing: 0.03em;
}

.regular-customers{
    padding: 94px 0;

}

.customers-title{
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}

.customers-list{
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}

.customers-list-item{
    width: 170px;
height: 92px;
border: 1px solid #AFB1B8;
border-radius: 4px;
}

.customers-list-item:hover{
    border: 1px solid #2196F3;
}

/* footer */

.footer{
    padding: 60px 0 60px 215px;}
    
    footer{
        background-color: #2F303A;
    }
    
.logo{
    display: block;
    margin-bottom: 20px;
 font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height:1.19;
letter-spacing: 0.03em;
text-decoration:none ;
color: #2196F3;
}

.studio{
    color: #FFFFFF;
}

.address-link{
    display: block;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71; 
letter-spacing: 0.03em; 
color: #FFFFFF;
margin-bottom: 9px;
}   

.contact-link{
    display: block;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
 color: rgba(255, 255, 255, 0.6);
}

 .contact-link:not(:last-child){
    margin-bottom: 9px;
 }